<div class="top-header-area bg-f3f7ff">
    <div class="container">

        <div class="row align-items-center">
            <!-- Telephone -->
            <div class="col-lg-6 col-sm-6">
                <ul class="top-header-left-content">
                    <li>
                        <a href="">
                            <img src="assets/images/icon/call.svg" alt="call" />
                            +612345678
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Buttons -->
            <div class="col-lg-6 col-sm-6">
                <ul>
                    <li>
                        <a href="">Login</a>
                    </li>
                    <li>
                        <a href="">Register</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>