<div>
    <div>
        <nav>
            <!-- Logo -->
             <a href="">
                <img src="" alt="logo">
             </a>
             <!-- Menu -->
              <div>
                <ul>
                    <li>
                        <a href="">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Booking
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Contact
                        </a>
                    </li>
                </ul>
                <!-- Form contact -->
                 <div>
                    <form action="">
                        <input type="text" name="Buscar" placeholder="Buscar"/>
                        <button type="submit">
                            <i></i>
                        </button>
                        
                    </form>
                 </div>
              </div>
        </nav>
    </div>
</div>